Repository SHINMH/SSAFY_Algorithm, pull requests merged in 2021-02, with the labels that each got.

#15 [BOJ_17827] 달팽이 리스트
  BOJ_17827/wpffl.java
Labels: BOJ, NORAML

#12 [BOJ_17827] 달팽이 리스트
  BOJ_17827/SHINMH.java
  BOJ_17827/SHINMH2.java
Labels: EAZY, Java

#27 [BOJ_15900] 나무 탈출
  BOJ_15900/cofls.java
Labels: BOJ, HARD, Java

#20 [BOJ_15900] 나무 탈출
  BOJ_15900/TennisRitchie.java
Labels: BOJ, Java, NORAML

#26 [BOJ_20364] 부동산 다툼
  BOJ_20364/cofls.java
Labels: BOJ, Java, NORAML

#25 [BOJ_17225] 세훈이의 선물가게
  BOJ_17225/cofls.java
Labels: BOJ, Java, NORAML

#24 [BOJ_17225] 세훈이의 선물가게
  BOJ_17225/Main_17225.java
Labels: BOJ, HARD, Java

#17 [BOJ_15900] 나무 탈출
  BOJ_15900/Main_15900.java
Labels: BOJ, HARD, Java

#21 [BOJ_20364] 부동산 다툼
  BOJ_20364/TennisRitchie.java
Labels: BOJ, Java, NORAML

#23 [BOJ_17225] 세훈이의 선물가게
  BOJ_17225/TennisRitchie.java
Labels: BOJ, Java, NORAML

#42 [BOJ_2638] 치즈
  DFS&BFS/BOJ_2638/TennisRitchie.java
Labels: BOJ, Java, NORAML

#40 [BOJ_4256] 트리
  Tree/BOJ_4256/TennisRitchie.java
Labels: BOJ, Java, NORAML

#73 [BOJ_4256] 트리
  Tree/BOJ_4256/shinmh.java
Labels: BOJ, Java, NORAML

#74 [BOJ_2638] 치즈
  DFS_BFS/BOJ_2638/shinmh.java
Labels: BOJ, HARD, Java
